@import '~antd/dist/antd.css';
.site {
    display: flex;
    min-height: 100vh;
}

.site-nav {
    width: 240px;
    background: #001730;
}

/* 
Navbar
*/

.modal {
    background: #000;
}

.menuStyle {
    height: 100%;
    width: 240px;
    position: sticky;
}

.site-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: static;
}

.content-header {
    background: #fff;
    height: 100px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, .15);
}

.stat {
    border: 1px solid black;
    background: #fff;
}

/* 
Dashboard
*/

.content-topic {
    background: #fff;
    flex-grow: 1;
    margin: 30px 50px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-title {
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    color: rgba(0, 0, 0, .25);
    text-align: center;
}

.textbox {
    margin-bottom: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.alignleft {
    line-height: 2.6;
}

.alignright {
    line-height: 2.6;
}

.middle {
    width: 410px;
}

/* 
Rooms
*/

.roomsCard {
    background: #84dcc6;
    width: 272px;
    height: 200px;
}

.roomText {
    text-align: center;
    line-height: 200px;
}

/* 
Statestik navbar
*/

.startStopButtons{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
    margin-top: 5%;
}
